.vs/
FastMath/bin/
FastMath/obj/
FastMathSampleApp/obj/
FastMathSampleApp/bin/
packages/
PerformanceBenchmark/bin/
PerformanceBenchmark/obj/
Tests/bin/
Tests/obj/
ClrBenchmark/bin/
CoreBenchmark/obj/
CoreBenchmark/bin/
ClrBenchmark/obj/
CoreBenchmark/BenchmarkDotNet.Artifacts/
